.search .MuiFormControl-root {
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #F0F1F5;
background-blend-mode: soft-light, normal;
box-shadow: inset -3.63315px -3.63315px 3.63315px rgba(255, 255, 255, 0.7), inset 5.44973px 5.44973px 3.63315px rgba(174, 174, 192, 0.2);
  border-radius: .5rem;
}

.search input {
  padding: 16px 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #474c4d;
}

.search fieldset {
  border: none;
}