.dashboard {
  background: #f0f3f9;
  margin-top: 4rem;
}

.dashboard__contents {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 80rem;
  margin: auto;
  padding: 3rem 2rem;
}

.dashboard__pokemons {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5rem 3rem;
}